@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7a5465;
}

.wrapper {
  padding: 3rem 2rem 4.5rem;
  width: 100%;
  height: 100%;
  background: url("monalisa-4893660_1920.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  position: relative;
}
.background {
  position: absolute;
  background: #7a5465;
  box-shadow: inset -20px 20px 60px #684756, inset 20px -20px 60px #8c6174;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wrapper > h1 {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0;
}

.list-wrapper {
  background: rgba(104, 71, 86, 0.6);
  border-radius: 5px;
  width: 500px;
  align-self: center;
}

.list-wrapper select {
  background: rgba(104, 71, 86, 0.6);
  border: none;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
}

.country-wrapper {
  padding: 2rem 0.5rem;
  background-color: rgba(104, 71, 86, 0.6);
  margin-top: 1rem;
  border-radius: 5px;
  width: 500px;
  align-self: center;
}

.list-wrapper,
.country-wrapper {
  z-index: 1;
}

.country .card h1,
h2,
h3 {
  padding: 0.5rem;
}

.card span {
  color: wheat;
}

.card h3 span {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .list-wrapper,
  .country-wrapper {
    width: 350px;
  }
 
@media (max-width: 320px) {
  .list-wrapper,
  .country-wrapper {
    width: 320px;
  }
  
}
